<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        We are a platform to satisfy the creative soul within you. 
        We provide all kinds of products ranging from art and craft supplies 
        to aesthic accessories and home decor.
      </p>
      <p>
       
      </p>
    </div>
    
  </div>
</div>

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
